
body{
    border: gray 1px;
    text-align: center;
    width:300px;
    margin-top:15px;
    margin-left:35%;
    box-shadow: 5px 5px 5px 5px #888888;
}
label{
    margin-left: 2px;
}


button{
    height:40px;
    width:100px;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid gray;
}
button:hover{
    background-color: gray;
}
